
*.DS_Store
/nbproject/private/
nbproject/*
/websource/vkdaten/variables.conf
/websource/vkdaten/vorlagen.conf
/websource/vkdaten/website.conf
/websource/vkdaten/upload.conf
*.lock
/websource/vkdaten/univis_test.conf
/websource/wir-ueber-uns/daten/