
websource/vkdaten/tools/univis/.DS_Store

websource/.DS_Store

websource/univis-tool/.DS_Store

websource/univis-tool/daten/.DS_Store

websource/univis-tool/daten/mitarbeiter-einzeln/.DS_Store
/nbproject/private/
nbproject/*